{% extends 'shopapp/base.html' %}

{% block title %}Confirm archive Order #{{ order.pk }}{% endblock %}

{% block body %}
    <h1>Are you sure to archive Order #{{ order.pk }}?</h1>
    <br>
    <div>
        <a href="{% url 'shopapp:order_details' pk=order.pk %}">Back to order</a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Archive</button>
        </form>
    </div>
    <br>
{% endblock %}