{% extends 'myauth/base.html' %}

{% block title %}About me{% endblock %}

{% block body %}
    <h1>User info </h1>
    {% if user.is_authenticated %}

        <h2>Details</h2>

        {% if user.profile.avatar %}
            <p>Avatar: </p>
            <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}">
        {% else %}
            <i>No avatars yet</i>
        {% endif %}
        <br>

        <p>Username: {{ user.username }}</p>
        <p>Bio: <i>{{ user.profile.bio }}</i></p>
        <br>
        <p><a href="{% url 'myauth:update' request.user.id %}">Update profile</a></p>
        <p><a href="{% url 'myauth:users-list' %}">Back to users list</a></p>

    {% else %}
        <h2>User is anonymous</h2>
    {% endif %} 
{% endblock %}