{% extends 'myauth/base.html' %}

{% block title %} Users list {% endblock %}

{% block body %}
    <h1>Users list</h1>
        {% if users %}
            <div>
            {% for user in users %}
                <div>
                    {% if user.profile.avatar %}
                        <a href="{% url 'myauth:user-details' pk=user.pk %}"><img src="{{ user.profile.avatar.url }}" alt="avatar"></a>
                    {% endif %}
                    <p>Name: <a href="{% url 'myauth:user-details' pk=user.pk %}">{{ user.username }}</a></p>
                    <p>Bio: {{ user.profile.bio }}</p>
                </div>
                <br>
            {% endfor %}
                <br>
                <p><a href="{% url 'myauth:about-me' %}">Back to my profile</a></p>
            </div>
            {% else %}
            <h3>No users yet</h3>
        {% endif %}

{% endblock %}