{% extends 'myauth/base.html' %}

{% block title %} Users list {% endblock %}

{% block body %}
    <h1>User Details: {{ user.username }}</h1>

    {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" alt="avatar">
    {% endif %}
    <br>

    <p>Name: {{ user.username }}</p>
    <p>Bio: {{ user.profile.bio }}</p>
    <br>
    {% if request.user.is_staff or perms.myauth.change_profile %}
        <p><a href="{% url 'myauth:update' pk=user.profile.pk %}">Update this profile</a></p>
        <br>
    {% endif %}
    <p><a href="{% url 'myauth:users-list' %}">Back to users list</a></p>

{% endblock %}